@font-face {
    font-family: 'm_1mbold';
    src: url('mplus-1m-bold-webfont.eot');
    src: url('mplus-1m-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('mplus-1m-bold-webfont.woff2') format('woff2'),
         url('font1/mplus-1m-bold-webfont.woff') format('woff'),
         url('mplus-1m-bold-webfont.ttf') format('truetype'),
         url('mplus-1m-bold-webfont.svg#m_1mbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'm_1mlight';
    src: url('mplus-1m-light-webfont.eot');
    src: url('mplus-1m-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('mplus-1m-light-webfont.woff2') format('woff2'),
         url('font1/mplus-1m-light-webfont.woff') format('woff'),
         url('mplus-1m-light-webfont.ttf') format('truetype'),
         url('mplus-1m-light-webfont.svg#m_1mlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

#a {font-family: m_1mbold;
font-size: 20pt;
line-height: 50pt;}

#b {font-family: m_1mbold;
font-size: 20pt;
line-height: 50pt;}

#c {font-family: m_1mbold;
font-size: 20pt;
line-height: 50pt;}

#d {font-family: m_1mbold;
font-size: 20pt;
line-height: 50pt;}

h1{
  font-family: 'm_1mbold';
  font-size: 60pt;
  margin-left: 100px;
  top: 20px;
  position: fixed;
  z-index: 3;
}

h2{
  font-family: 'm_1mlight';
  font-size: 30pt;
  margin-top: 300px;
  padding-bottom: 0pt;
  margin-left: 100px;
  position:fixed;
  z-index: 2;
}
h3{
  font-family: 'm_1mlight';
  font-size: 19pt;
  position: absolute;
  padding-top: 0pt;
  margin-top:0px;
  top:277px;
  margin-left: 450px;
  width:750px;
  z-index: 1;
  color:transparent;
  pointer-events: none;
}
#subtitle{
  font-family: m_1mlight;
  font-size: 14pt;
  line-height:3.5pt;
  position: relative;
  left:28px;
  bottom:1px;
}
html{
  background-color: rgb(245, 243, 233);
}

p{
  margin-top: 20px;
}
p1{
  margin-top: 40px
}
.list{
  line-height: 15px;
  margin-top: 34px;
  position: absolute;
}
.bodytext{
  line-height: 33px;
  margin-top: 45px;
}
.project {}
.container{
  background-color: rgb(245, 243, 233);
  position: fixed;
  z-index: 3;
  height:85px;
  width: 100vw;
  margin-top: -10px;
  padding:0;
}

#coursedes1 {
  position: absolute;
  margin-top: 0px;
}
#schedule1 {
  position: absolute;
  margin-top: 0px;
}#resources1 {
  position: absolute;
  margin-top: 0px;
}#projects1 {
  position: absolute;
  margin-top: 0px;
}

.pink:hover {
  color:rgb(237,103,219);
}

.listspace {
  padding-bottom: 15px;
}


@media only screen and (max-width: 1525px){
  h1{
    font-family: 'm_1mbold';
    margin-left: 100px;
    top: 20px;
    position: fixed;
    z-index: 3;
  }
}

h4{position: absolute;top:277px;
  margin-left: 450px;}

#box1{
  background-color: transparent;
  position: absolute;
  display: none;
  width: 500px;
  height: 150px;
z-index: 20;}

#box2{
    background-color: transparent;
    position: absolute;
    top: 350px;
    display: none;
    width: 500px;
    height: 150px;
    z-index: 20;}
#box3{
      background-color: transparent;
      position: absolute;
      display: none;
      top: 600px;
      width: 500px;
      height: 150px;
    z-index: 20;}
#box4{
        background-color: transparent;
        position: absolute;
        display: none;
        top: 1050px;
        width: 500px;
        height: 150px;
      z-index: 20;}
#box5{
          background-color: transparent;
          position: absolute;
          display: none;
          top: 1570px;
          width: 500px;
          height: 150px;
        z-index: 20;}
#img1 {
    display: none;
    position:fixed;
  width: 750px;
  top:80px;
    z-index: 16;
}
#img2 {
    display: none;
      position:fixed;
      z-index: 15;
      top:78px;
  width: 750px;
}
#img3 {
    display: none;
  width: 750px;
  position:fixed;
    z-index: 14;
    top:80px;
}
#img4 {
    display: none;
    position:fixed;
      z-index: 13;
  width: 750px;
  top:80px;
}
#img5 {
    display: none;
    position:fixed;
    z-index: 12;
  width: 750px;
  top:80px;
}
.caption {
  font-family: 'm_1mlight';
  position: fixed;
  z-index: 18;
  font-size: 12pt;
  margin-top: 72px;
  margin-left:1225px;
  color:transparent;
  line-height: 20px;
}
